.button {
    display: inline-block;
    padding: 3px 6px;
    font-size: 14px;
    color: var(--blue-6);
    cursor: pointer;

    &:hover {
        color: var(--blue-5);
    }

    &.danger {
        color: var(--red-6);

        &:hover {
            color: var(--red-5);
        }
    }

    &.disabled {
        cursor: not-allowed;
        color: var(--gray-10);

        &:hover {
            color: var(--gray-10);
        }
    }
}
