.button {
    display: inline-block;
    padding: 3px 6px;
    font-size: 14px;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
        color: var(--primary-light-color);
    }

    &.danger {
        color: var(--danger-color);

        &:hover {
            color: var(--danger-light-color);
        }
    }

    &.disabled {
        cursor: not-allowed;
        color: var(--disabled-color);

        &:hover {
            color: var(--disabled-color);
        }
    }
}
