@import "../../less/_color.less";

.line {
    overflow: hidden;
}

.underline {
    border-bottom: 2px solid @blue-5;
    margin-bottom: -2px;
    cursor: pointer;
}

.underline-selected {
    border-bottom: 2px solid @orange-6;
    margin-bottom: -2px;
    cursor: pointer;
}

.underline-others {
    border-bottom: 2px solid @gray-7;
    margin-bottom: -2px;
    cursor: pointer;
}
