.line {
    overflow: hidden;
    padding: var(--line-padding);
}

.underline {
    border-bottom: 2px solid var(--underline-color);
    margin-bottom: -2px;
    cursor: pointer;
    transition: border-color 0.2s;

    &.selected {
        border-color: var(--underline-selected-color);
    }

    &.others {
        border-color: var(--underline-others-color);
    }
}
