.app {
    --bg-color: #efebe0;
    --gray-3: #f5f5f5;
    --gray-4: #f0f0f0;
    --gray-6: #bfbfbf;
    --gray-7: #8c8c8c;
    --gray-10: #262626;
    --blue-5: #40a9ff;
    --blue-6: #1890ff;
    --red-5: #ff4d4f;
    --red-6: #f5222d;
    --orange-6: #fa8c16;
}

body {
    margin: 0;
}

.app {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
}

*,
::before,
::after {
    box-sizing: border-box;
}
