@import "../less/_color.less";

.classes-select {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 8px;
    outline: none;
}

.student-list > div {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    > div {
        width: 50%;
        text-align: center;
    }
}

.student-list-row {
    &:hover {
        cursor: pointer;
        background-color: @gray-4;
    }

    &.selected {
        color: @blue-5;
    }
}
