.note-user {
    padding: 16px;

    > .note-user-time {
        font-size: 14px;
        color: var(--disabled-color);
        margin-left: 8px;
    }
}

.note-text {
    font-size: 14px;
    font-family: Georgia, Arial, sans-serif;
    text-align: justify;
    padding: 16px;
    background-color: #efebe0;
}

.note-buttons {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-size: 22px;

    > div > span.icon {
        cursor: pointer;

        + span.icon {
            margin-left: 8px;
        }

        &.danger {
            color: var(--danger-color);
        }
    }
}

.list-header {
    display: flex;

    > div {
        width: 50%;
        padding: 8px 16px;
        text-align: center;
        cursor: pointer;
        color: #8c8c8c;

        &:hover {
            background-color: #f5f5f5;
        }

        &.selected {
            color: inherit;
            border-bottom: 2px solid var(--primary-color);
        }
    }
}

.list-container {
    display: flex;
    width: 200%;
    transition: transform 0.2s;

    > .list {
        width: 100%;
    }

    &.comments {
        transform: translate(0, 0);
    }

    &.likes {
        transform: translate(-50%, 0);
    }
}

.empty-list {
    text-align: center;
    padding: 24px 0;
    color: #8c8c8c;
}
