@import "../../less/_color.less";

.sidebar-item {
    font-size: 24px;
    padding: 12px 0;
    cursor: pointer;
    text-align: center;

    &.disabled {
        color: @gray-6;
        cursor: not-allowed;
    }
}
