.drawer {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.drawer-container {
    position: absolute;
    width: 30%;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}

.drawer-header {
    padding: 12px;
    border-bottom: 1px solid;
    text-align: center;
}
